.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.flex{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    margin: 80px 160px;
    padding: 80px;
    border-radius: 24px;
}
h1{
    font-size: 56px;
    font-weight: bold;
}

.fira{
    color: rgba(0, 0, 0, 0.459);
    font-size: 20px;
    font-weight: 400;
}
.btn{         
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: semibold;

}
.card-icon{
    display: flex;
}
.icon{
    margin: 80px 160px 32px 160px;
}
.icon-1{
    background-color: #548ff55d;
    padding: 25px;
    margin: 32px 24px 32px 160px;
    border-radius: 16px;
}
.icon-2{
    background-color: #C6E4D6;
    padding: 25px;
    margin: 32px 24px;
    border-radius: 16px;
}
.icon-3{
    background-color: #F7EBCF;
    padding: 25px;
    margin: 32px 160px 32px 24px;
    border-radius: 16px;
}
.btn-1{
    background-color: blue;
    padding: 17px 34px;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: semibold;
}
.btn-2{
    background-color: green;
    padding: 17px 34px;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: semibold;
}
.btn-3{
    background-color: orange;
    padding: 17px 34px;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: semibold;
}
.display{
    display: flex;
    margin: 32px 160px 24px 160px;
    background-color: paleturquoise;
    border-radius: 24px;
}
.class-1{
    margin: 80px 160px 32px 160px;
}
.bangla{
    padding: 0px 32px 13px 20px;
}
.satelite{
    border-radius: 24px;
}
.datetime{
    color: rgba(0, 0, 0, 0.459);
}
.nav{
    background-color: ghostwhite;
}

.styles{
    padding: 20px 160px;
    color: rgba(0, 0, 0, 0.459);
}
.head-5{
    margin: 80PX 160PX;
}
.title{
    text-align: center;
}
.btn-5{
    justify-content: space-around;
    text-align: center;
}
.btn-6{
    margin: 32px 24px 32px 100px;
    padding: 40px;
    border-radius: 24px;
    border: none;
    font-weight: 600;
    font-size: 48px;
}
.btn-7{
    margin: 32px 24px 32px 100px;
    padding: 40px;
    border-radius: 24px;
    background-color:  #C6E4D6;
    border: none;
    font-weight: 600;
    font-size: 48px;
}
.btn-8{
    margin: 32px 151px;
    padding: 20px 422px;
    border: none;
    color: rgba(0, 0, 0, 0.459);

}
.btn-9{
    text-align: center;
}
.btn-10{
    text-align: center;
}
.footer-body{
    margin: 80px 160px;
    background-color: #C6E4D6;
    padding: 80px 265px;
    border-radius: 24px;
    text-align: center;
}
#email{
    margin: 24px 265px;
    padding: 18px 403px 18px 40px;
    border: none;
}
.btn-11{
    padding: 10px 34px;
    border: none;
    background-color: #006A50;
}
.f-style{
    display: flex;
}
.yunus{
    padding: 32px 160px 80px 160px;
    margin: 0 160px;
    background-color: aliceblue;
    border-radius: 24px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
}