.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.flex{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    margin: 80px 160px;
    padding: 80px;
    border-radius: 24px;
}
h1{
    font-size: 56px;
    font-weight: bold;
}

.fira{
    color: rgba(0, 0, 0, 0.459);
    font-size: 24px;
    font-weight: medium;
}
button{
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: semibold;    
}